# Flights Report ✈️
{% for trip in trips %}
- <details><summary>{{ trip.route }}</summary>

  |IDX|TOTAL_PRICE|NIGHTS|FROM>TO|DATE|PRICE|TO>FROM|DATE|PRICE|LINKS|
  |---|---|---|---|---|---|---|---|---|---|
  {% for row in trip.df.itertuples() %}
  |{{ loop.index0 }}|{{ row.price|int }}|{{ row.nights }}|{{ row.src_dst_outb.replace("_", " > ") }}|{{ row.date_outb_fmt }}|{{ row.price_outb|int }}|{{ row.src_dst_inb.replace("_", " > ") }}|{{ row.date_inb_fmt }}|{{ row.price_inb|int }}|{{ row.price|int }} {{row.links}}|
  {% endfor %}

</details>

{% endfor %}
